<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
	<head>
		<title>Beyond</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/pillu.png') }}">
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body>
		<!-- Header -->
		<div id="header">

			<div class="top">

				<!-- Logo -->
					<div id="logo">
						<span class="image avatar48"><img src="static/images/pillu.png" alt="" /></span>
						<h1 id="title">Beyond</h1>
						<p></p>
					</div>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="/" id="top-link"><span class="icon solid fa-home">Home</span></a></li>
							<li><a href="ancient-articles.html"><span class="icon solid fa-th">Ancient Articles</span></a></li>
							<li><a href="vignettes-era.html"><span class="icon solid fa-user">Vignettes Era Writing</span></a></li>
							<li><a href="dnd-era.html"><span class="icon solid fa-envelope">DND Era Stories</span></a></li>
						    <li><a href="middle-beginning.html"><span class="icon solid fa-envelope">The Middle of the Beginning</span></a></li>
							<li><a href="tomorrow.html"><span class="icon solid fa-envelope">A Day Away</span></a></li>
							<li><a href="beyond.html"><span class="icon solid fa-envelope">The End of the Beginning</span></a></li>
						</ul>
					</nav>
			</div>

			<div class="bottom">

				<!-- Social Icons -->
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
					</ul>

			</div>

		</div>

		<!-- Main -->
		<div id="main">
			<section id="top" class="one dark">
				<div class="container">
					<header>
						<h2>You have reached the end of the beginning</h2>
					</header>
				</div>
			</section>
            <section id="end" class="two">
                <header>
                    <p>Nothing to see here... Move along. Move along.</p>
                </header>
				<a href="beyond" class="image fit"><img src="static/images/Adiyum%20Anthamum.jpg" alt="" /></a>
            </section>
		</div>
		<!-- Footer -->
			<div id="footer">
				<!-- Copyright -->
					<div class="copyright">
						&copy; Girl Who Cried Wool. All rights reserved.<br />
						I made this site using a theme from <a href="http://html5up.net">HTML5 UP</a>
					</div>
			</div>
	</body>`
</html>

