<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
	<head>
		<title>The Middle of the Beginning</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/pillu.png') }}">
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body>
		<!-- Header -->
		<div id="header">

			<div class="top">

				<!-- Logo -->
					<div id="logo">
						<span class="image avatar48"><img src="static/images/pillu.png" alt="" /></span>
						<h1 id="title">The Middle of the Beginning</h1>
						<p></p>
					</div>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="/" id="top-link"><span class="icon solid fa-home">Home</span></a></li>
							<li><a href="ancient-articles.html"><span class="icon solid fa-th">Ancient Articles</span></a></li>
							<li><a href="vignettes-era.html"><span class="icon solid fa-user">Vignettes Era Writing</span></a></li>
							<li><a href="dnd-era.html"><span class="icon solid fa-envelope">DND Era Stories</span></a></li>
						    <li><a href="middle-beginning.html"><span class="icon solid fa-envelope">The Middle of the Beginning</span></a></li>
							<li><a href="tomorrow.html"><span class="icon solid fa-envelope">A Day Away</span></a></li>
							<li><a href="beyond.html"><span class="icon solid fa-envelope">The End of the Beginning</span></a></li>
						</ul>
					</nav>
			</div>

			<div class="bottom">

				<!-- Social Icons -->
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
					</ul>

			</div>

		</div>

		<!-- Main -->
		<div id="main">
			<section id="top" class="one dark">
				<div class="container">
					<header>
						<h2>Here I am, now</h2>
					</header>
				</div>
			</section>
			<section class="two">
				<div class="container">
					<div class="row col-4 col-12-mobile">
						<div>
							<h3>Choose Your Own Me</h3>
							 <a href="static/images/Choose%20your%20own%20me.pdf"><img src="static/images/Choose%20your%20own%20me.jpg" class="doc image half" alt="" /></a>
						</div>
						<div>
							<h3>Tulabara</h3>
							 <a href="static/images/Tulabara%20Excerpts.pdf"><img src="static/images/tulabara.jpg" class="doc image half" alt="" />
								 <h5 class="bookquote">Click for Excerpts</h5></a>
						</div>
					</div>
				</div>
			</section>
			<section class="three">
				<div class="container">
					<div class="row col-4 col-12-mobile">
						<div>
							<h3>You aren't her, you're me!</h3>
							<a target="_self" href="static/images/You%20not%20her%20you%20me%201.jpg"><img src="static/images/You%20not%20her%20you%20me%201.jpg" class="doc image half" alt="" /></a>
							<a target="_self" href="static/images/You%20not%20her%20you%20me%202.jpg"><img src="static/images/You%20not%20her%20you%20me%202.jpg" class="doc image half" alt="" /></a>
							<a target="_self" href="static/images/You%20not%20me%20you%20her%203.jpg"><img src="static/images/You%20not%20me%20you%20her%203.jpg" class="doc image half" alt="" /></a>
						</div>
					</div>
				</div>
			</section>
			<section class="four">
				<div class="container">
					<div class="row col-4 col-12-mobile">
						<div>
							<h3>Dynamic Identity</h3>
							<a target="_self" href="static/images/Dynamic%20Identity%201.jpg"><img src="static/images/Dynamic%20Identity%201.jpg" class="doc image half" alt="" /></a>
							<a target="_self" href="static/images/Dynamic%20Identity%202.jpg"><img src="static/images/Dynamic%20Identity%202.jpg" class="doc image half" alt="" /></a>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- Footer -->
			<div id="footer">
				<!-- Copyright -->
					<div class="copyright">
						&copy; Girl Who Cried Wool. All rights reserved.<br />
						I made this site using a theme from <a href="http://html5up.net">HTML5 UP</a>
					</div>
			</div>
	</body>`
</html>

