<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
	<head>
		<title>Vignette Snippets</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/pillu.png') }}">
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body>
		<!-- Header -->
		<div id="header">

			<div class="top">

				<!-- Logo -->
					<div id="logo">
						<span class="image avatar48"><img src="static/images/pillu.png" alt="" /></span>
						<h1 id="title">Kirtana R Iwamoto</h1>
						<p></p>
					</div>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="/" id="top-link"><span class="icon solid fa-home">Home</span></a></li>
							<li><a href="ancient-articles.html"><span class="icon solid fa-th">Ancient Articles</span></a></li>
							<li><a href="vignettes-era.html"><span class="icon solid fa-user">Vignettes Era Writing</span></a></li>
							<li><a href="dnd-era.html"><span class="icon solid fa-envelope">DND Era Stories</span></a></li>
						    <li><a href="middle-beginning.html"><span class="icon solid fa-envelope">The Middle of the Beginning</span></a></li>
							<li><a href="tomorrow.html"><span class="icon solid fa-envelope">A Day Away</span></a></li>
							<li><a href="beyond.html"><span class="icon solid fa-envelope">The End of the Beginning</span></a></li>
						</ul>
					</nav>
			</div>

			<div class="bottom">

				<!-- Social Icons -->
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
					</ul>

			</div>

		</div>

		<!-- Main -->
		<div id="main">
			<section id="top" class="one dark">
				<div class="container">
					<header>
						<h2>Short Stories from the book 'Vignettes from the Vineyards of Memory II</h2>
					</header>
				</div>
			</section>
			<section class="two">
				<div class="container">
					<div class="row col-4 col-12-mobile">
						<h3>A Scar in the Sacred Heart</h3>
						<p class="bookquote">Shortly after I moved to India, my mother enrolled me in her alma mater, a private Sacred Heart convent school. This is the story of: </p>
						<a target="_self" href="static/images/Sacred%20Heart%201.jpg"><img src="static/images/Sacred%20Heart%201.jpg" class="image half" alt="" /></a>
						<a target="_self" href="static/images/Sacred%20Heart%202.jpg"><img src="static/images/Sacred%20Heart%202.jpg" class="image half" alt="" /></a>
						<a target="_self" href="static/images/Sacred%20Heart%203.jpg"><img src="static/images/Sacred%20Heart%203.jpg" class="image half" alt="" /></a>
						<a target="_self" href="static/images/Sacred%20Heart%204.jpg"><img src="static/images/Sacred%20Heart%204.jpg" class="image half" alt="" /></a>
						<a target="_self" href="static/images/Sacred%20Heart%205.jpg"><img src="static/images/Sacred%20Heart%205.jpg" class="image half" alt="" /></a>
						<a target="_self" href="static/images/Sacred%20Heart%206.jpg"><img src="static/images/Sacred%20Heart%206.jpg" class="image half" alt="" /></a>
						<a target="_self" href="static/images/Sacred%20Heart%207.jpg"><img src="static/images/Sacred%20Heart%207.jpg" class="image half" alt="" /></a>
						<div class="bookquote">
							<p>It was done. I had finally won my freedom from that horrible place and would begin a new life next week. As only a child can, after a disastrous calamity, I put the day's events out of my mind and turned to my mother.<br />
							"Do I still get to go to the <i>suprice</i> place you promised to take me to today, Ma?" <br />
							My mother smiled and nodded, hugging her baby daughter close.</p>
						</div>
					</div>
				</div>
			</section>
			<section class = "three">
				<div class="container">
					<div class="row col-4 col-12-mobile">
						<h3>Coming to Winnipeg</h3>
						<p>
							<a target="_self" href="static/images/Coming%20To%20Winnipeg%201.jpg"><img src="static/images/Coming%20To%20Winnipeg%201.jpg" class="image half" alt="" /></a>
							<a target="_self" href="static/images/Coming%20To%20Winnipeg%202.jpg"><img src="static/images/Coming%20To%20Winnipeg%202.jpg" class="image half" alt="" /></a>
							<a target="_self" href="static/images/Coming%20To%20Winnipeg%203.jpg"><img src="static/images/Coming%20To%20Winnipeg%203.jpg" class="image half" alt="" /></a>
							<a target="_self" href="static/images/Coming%20To%20Winnipeg%204.jpg"><img src="static/images/Coming%20To%20Winnipeg%204.jpg" class="image half" alt="" /></a>
							<a target="_self" href="static/images/Coming%20To%20Winnipeg%205.jpg"><img src="static/images/Coming%20To%20Winnipeg%205.jpg" class="image half" alt="" /></a>
							<a target="_self" href="static/images/Coming%20To%20Winnipeg%206.jpg"><img src="static/images/Coming%20To%20Winnipeg%206.jpg" class="image half" alt="" /></a>
						</p>
					</div>
				</div>
			</section>
			<section class="four">
				<div class="container">
					<div class="row col-4 col-12-mobile">
						<h3>Home isn't in the place, it's in the potion!</h3>
						<p>
							<a target="_self" href="static/images/Potion%201.jpg"><img src="static/images/Potion%201.jpg" class="image half" alt="" /></a>
							<a target="_self" href="static/images/Potion%202.jpg"><img src="static/images/Potion%202.jpg" class="image half" alt="" /></a>
						</p>

					</div>
				</div>
			</section>
		</div>
		<!-- Footer -->
			<div id="footer">
				<!-- Copyright -->
					<div class="copyright">
						&copy; Girl Who Cried Wool. All rights reserved.<br />
						I made this site using a theme from <a href="http://html5up.net">HTML5 UP</a>
					</div>
			</div>
	</body>`
</html>

